<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite">
    <test name="N11 Tests">
        <classes>
            <class name="tests.HomePageTest"/>
            <class name="tests.MenuTest"/>
            <class name="tests.RegisterTest"/>
            <class name="tests.SocialMediaTest"/>
            <class name="tests.FooterLinksTest"/>
        </classes>
    </test>
</suite>
